.login-page {
  position: relative;
  width: 400px;
  height: 450px;

  border: 2px solid rgba(214, 3, 3, 0.842);
  border-radius: 20px;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.login-page .form-box {
  width: 100%;
  padding: 40px;
}
.form-box h2 {
  font-size: 2em;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.input-box input {
  font-size: 1em;

  font-size: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}
.remember-forgat {
  font-size: 0.9em;

  color: #131010;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgat label input {
  accent-color: #0f0f0f;
  margin-right: 3px;
}
.remember-forgat a {
  color: #81a516;
  text-decoration: none;
}
.remember-forgat a:hover {
  text-decoration: underline;
  color: red;
}
.log-btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 6px;

  cursor: pointer;
  font-size: 1em;
  color: #141313;
  font-weight: 500;
}
.log-btn :hover {
  background-color: green;
}
.login-register {
  font-size: 0.9em;
  /* color: #fff; */
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a {
  color: #399386;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}

@media (max-width: 360px) {
  .login-page {
    width: 100%;
    height: 100vh;
    border: none;
  }
}
