.toy-image{
    width: 50ox !important;
    height: 250px !important;
    opacity: 10px;
}
.discount-content{
    margin-top: -245px;
    margin-left: -150px;
}
.title_price{
    margin-bottom: -100px;
}



/* slider css */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-slide img {


  object-fit: cover;
}
/* @media screen and (max-width: 576px) {
  .swiper-slide{
flex: none;
width: 100%;
    background-color: aqua;
  }
  
} */

